<h1> Página do Produto Detalhada </h1>
<div class="flex justify-center gap-20 py-10">
  <div class="flex flex-wrap max-w-lg">
    <% if @product.images.any? %>
      <% @product.images.each do |image| %>
        <%= image_tag image.variant(:medium).processed, class:"w-auto h-64" %>
      <% end %>
    <% else %>
      <p>No images available for this product.</p>
    <% end %>
  </div>
  <div class="flex flex-col items-star max-w-sm">
    <h1 class="font-bold text-4x1 uppercase">
      <%= @product.name %>
    </h1>
    <p class="text-2x1 mt-4">
      R$ <%= @product.price.to_s %>
    </p>
    <p class="text-md py-8">
      <%= @product.description %>
    </p>
    <div class="my-8">
      <p class="uppercase text-lg">Size</p>
      <% @product.stocks.each do |stock| %>
        <% if stock.amount > 0 %>
          <button value="<%= stock.size %>" class="bg-gray-200 text-gray-800 font-semibold py-2 px-4 rounded hover:bg-gray-300 focus:outline_none focus:ring-2 focus:ring-gray-500 focus:ring-opacity-50">
            <%= stock.size %>
          </button>
        <% else %>
          <button disabled value="<%= stock.size %>" class="disabled:bg-gray-400 bg-gray-200 text-gray-800 font-semibold py-2 px-4 rounded hover:bg-gray-300 focus:outline_none focus:ring-2 focus:ring-gray-500 focus:ring-opacity-50">
            <%= stock.size %>
          </button>
        <% end %>
      <% end %>
    </div>
    <button class="inline-flex items-center justify-center px-5 py-3 border-trasparent font-medium rounded-md test-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
      Adcionar ao Carrinho
    </button>
  </div>
</div>
